$button-background:#ffffff;
$button-color:#0085a3;
$button-color-dark:#000000;
$button-border:#0085a3;
$border-bottom:#ecae5e;
$card-date:#a9a9a9;
$card-week:#0085a3;
$card-background:#ffffff;
$card-heading:#622129;
$card-active-bg:#0085a3;
$card-active:#ffffff;
$sufarce_color:#edebeb;
$surface-color-lite:#f5f5f5;
$span-color: #453f3f;
$sub-heading:#622129;
$horizontal-border:#a9a9a9;
$program-heading:#622129;
$pagination-color:#0085a3;
$pagination-border:#0085a3;
$pagination-active-border:#0085a3;
$pagination-color:#0085a3;
$pagination-text:#ffffff;
$pagination-deactive:#a9a9a9;
$icon-border:#933b3b;
